<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gazamung.mapper.ClubMapper">


    <select id="ageCheck"  resultType="int">
        SELECT
        CASE
        WHEN #{age} >= age_start_limit AND #{age} &lt; age_end_limit THEN 1
        ELSE 0
        END AS result
        FROM
        club
        WHERE
        club_id = #{clubId}
    </select>

    <select id="countByMemberIdx" resultType="int" >
        SELECT COUNT(*) FROM club_member
        WHERE member_idx = #{memberIdx}
    </select>

    <select id="checkClubMembership" resultType="int" >
        SELECT COUNT(*) FROM club_member
        WHERE club_id = #{clubId}
          AND member_idx = #{memberIdx}
    </select>

</mapper>
