<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gazamung.mapper.RankMapper">

    <!-- 대학 승리 팀 업데이트 -->
    <update id="updateUnivWinRank">
        UPDATE rank
        SET rank_point = rank_point + 10, win_count = win_count + 1
        WHERE univ_id = #{winUniv} AND dept_id IS NULL AND event_id = #{eventId}
    </update>

    <!-- 과 승리 팀 업데이트 -->
    <update id="updateDeptWinRank">
        UPDATE rank
        SET rank_point = rank_point + 10, win_count = win_count + 1
        WHERE univ_id = #{univId} AND dept_id = #{winDept} AND event_id = #{eventId}
    </update>


    <!-- 대학 패배 팀 업데이트 -->
    <update id="updateUnivLoseRank">
        UPDATE rank
        SET rank_point = GREATEST(rank_point - 5, 0), lose_count = lose_count + 1
        WHERE univ_id = #{loseUniv} AND dept_id IS NULL AND event_id = #{eventId}
    </update>

    <!-- 과 패배 팀 업데이트 -->
    <update id="updateDeptLoseRank">
        UPDATE rank
        SET rank_point = GREATEST(rank_point - 5, 0), lose_count = lose_count + 1
        WHERE univ_id = #{univId} AND dept_id = #{loseDept} AND event_id = #{eventId}
    </update>



    <!-- (대학) 존재하지 않는 경우 신규 생성 -->
    <insert id="insertUnivRank">
        INSERT INTO rank (id, univ_id, event_id, rank_point, win_count, lose_count)
        VALUES (RANK_SEQ.NEXTVAL, #{univId}, #{eventId}, #{rankPoint}, #{winCount}, #{loseCount})
    </insert>


    <!-- (과) 존재하지 않는 경우 신규 생성 -->
    <insert id="insertDeptRank">
        INSERT INTO rank (id, univ_id, dept_id, event_id, rank_point, win_count, lose_count)
        VALUES (RANK_SEQ.NEXTVAL, #{univId}, #{deptId} , #{eventId}, #{rankPoint}, #{winCount}, #{loseCount})
    </insert>

    <!-- (대학) 존재하는지 확인 -->
    <select id="checkUnivExistence" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM rank
        WHERE univ_id = #{univId,jdbcType=BIGINT} AND event_id = #{eventId,jdbcType=BIGINT} AND COALESCE(dept_id, -1) = -1
    </select>

    <!-- (과) 존재하는지 확인 -->
    <select id="checkDeptExistence" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM rank
        WHERE univ_id = #{univId,jdbcType=BIGINT} AND dept_id = #{deptId} AND event_id = #{eventId,jdbcType=BIGINT}
    </select>

    <!-- (대학)eventID에 따른 랭킹 반환 -->
    <select id="findUnivRanksByEventId" resultType="com.example.gazamung.rank.dto.UnivRankRes">
        SELECT
            r.univ_id,
            u.school_name,
            u.logo_img,
            r.event_id,
            r.rank_point,
            r.win_count,
            r.lose_count,
            (r.win_count + r.lose_count) as totalCount
        FROM Rank r
                 JOIN university u ON r.univ_id = u.id
        WHERE r.event_id = #{eventId}
          AND r.dept_id IS NULL
        ORDER BY r.rank_point DESC
    </select>

    <!-- (과)eventID에 따른 랭킹 반환 -->
    <select id="findDeptRanksByEventId" resultType="com.example.gazamung.rank.dto.DeptRankRes">
        SELECT
            r.dept_id,
            d.dept_name,
            r.univ_id,
            u.logo_img,
            r.event_id,
            r.rank_point,
            r.win_count,
            r.lose_count,
            (r.win_count + r.lose_count) as totalCount
        FROM Rank r
                 JOIN department d ON r.dept_id = d.dept_id
                 JOIN university u ON r.univ_id = u.id

        WHERE r.event_id = #{eventId}
          AND r.univ_id = #{univId}
        ORDER BY r.rank_point DESC
    </select>





    <!-- (대학)eventID와 상관없는 전체 랭킹 반환 -->
    <select id="findAllUnivRanks" resultType="com.example.gazamung.rank.dto.UnivRankRes">
        SELECT
            r.univ_id,
            u.school_name,
            u.logo_img,
            SUM(r.rank_point) as rankPoint,
            SUM(r.win_count) as winCount,
            SUM(r.lose_count) as loseCount,
            (SUM(r.win_count) + SUM(r.lose_count)) as totalCount
        FROM Rank r
                 JOIN university u ON r.univ_id = u.id
        WHERE r.dept_id IS NULL
        GROUP BY r.univ_id, u.school_name, u.logo_img
        ORDER BY rankPoint DESC
    </select>

    <!-- (과)대학 ID에 따른 전체 학과 랭킹 반환 -->
    <select id="findAllDeptRanks" resultType="com.example.gazamung.rank.dto.DeptRankRes">
        SELECT
            r.dept_id,
            d.dept_name,
            u.school_name,
            u.logo_img,
            SUM(r.rank_point) as rankPoint,
            SUM(r.win_count) as winCount,
            SUM(r.lose_count) as loseCount,
            (SUM(r.win_count) + SUM(r.lose_count)) as totalCount
        FROM Rank r
                 JOIN department d ON r.dept_id = d.dept_id
                 JOIN university u ON r.univ_id = u.id
        WHERE r.univ_id = #{univId}
        GROUP BY r.dept_id, d.dept_name, u.school_name, u.logo_img
        ORDER BY rankPoint DESC
    </select>



</mapper>
