<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gazamung.mapper.UniversityMapper">

    <!-- University 목록을 rank_point 기준으로 내림차순 정렬하여 반환하는 쿼리 -->
<!--    <select id="findAllOrderByRankPointDesc" resultType="com.example.entity.University">-->
<!--        SELECT * FROM university-->
<!--        ORDER BY rank_point DESC-->
<!--    </select>-->


</mapper>
