<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gazamung.mapper.UnivBattleMapper">


<!--    <update id="updateRankPoints">-->
<!--        UPDATE University-->
<!--        SET rank_point = CASE-->
<!--                             WHEN id = #{winUniv} THEN rank_point + 10-->
<!--                             WHEN id = #{loseUniv} THEN GREATEST(rank_point - 5, 0)-->
<!--            END-->
<!--        WHERE id IN (#{winUniv}, #{loseUniv})-->
<!--    </update>-->

    <!-- 해당 대학의 UnivBattle 목록을 반환하는 쿼리 -->
    <select id="findByUnivId" resultType="com.example.gazamung.univBattle.entity.UnivBattle">
        SELECT * FROM univ_battle
        WHERE win_univ = #{univId} OR lose_univ = #{univId}
        ORDER BY match_end_dt DESC
    </select>

</mapper>
