<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 회원 관리</title>
</head>
<body>
<h1>회원 목록</h1>

<table border="1">
    <tr>
        <th>회원 번호</th>
        <th>이메일</th>
        <th>이름</th>
        <th>닉네임</th>
        <th>핸드폰 번호</th>
        <th>성별</th>
        <th>주소</th>
        <th>학교</th>
        <th>학과</th>
        <th>가입일</th>

        <th></th>
    </tr>
    <!-- 회원 목록을 반복해서 표시 -->
    <tr th:each="member : ${members}">
        <td th:text="${member.memberIdx}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.nickname}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.gender}"></td>
        <td th:text="${member.address}"></td>
        <td th:text="${universityNames[member.univId]}"></td>
        <td th:text="${departmentNames[member.deptId]}"></td>
        <td th:text="${member.regDt}"></td>
        <td>
            <!-- 회원 삭제 요청을 보내는 폼 -->
            <form th:action="@{'/api/v1/member/withDrawAdmin/' + ${member.memberIdx}}" method="post"
                  onsubmit="return confirm('정말로 탈퇴시키겠습니까?');">
                <button type="submit">탈퇴</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
