<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 게시글 관리</title>
</head>
<body>
<h1>게시글 목록</h1>

<table border="1">
    <tr>
        <th>게시판 번호</th>
        <th>작성자 번호</th>
        <th>카테고리 번호</th>
        <th>대학교</th>
        <th>학과</th>
        <th>모임 번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>생성일</th>
        <th>수정일</th>
        <th>위도</th>
        <th>경도</th>
        <th>위치</th>
        <th>이벤트 번호</th>
        <th>경기 일시</th>
        <th>대표 사진</th>
        <th>익명 여부</th>
        <th></th>
    </tr>
    <!-- 게시글 목록을 반복해서 표시 -->
    <tr th:each="univBoard : ${univBoards}">
        <td th:text="${univBoard.univBoardId}"></td>
        <td th:text="${univBoard.memberIdx}"></td>
        <td th:text="${univBoard.categoryId}"></td>
        <td th:text="${universityNames[univBoard.univId]}"></td>
        <td th:text="${departmentNames[univBoard.deptId]}"></td>
        <td th:text="${univBoard.clubId}"></td>
        <td th:text="${univBoard.title}"></td>
        <td th:text="${univBoard.content}"></td>
        <td th:text="${univBoard.regDt}"></td>
        <td th:text="${univBoard.udtDt}"></td>
        <td th:text="${univBoard.lat}"></td>
        <td th:text="${univBoard.lng}"></td>
        <td th:text="${univBoard.place}"></td>
        <td th:text="${univBoard.eventId}"></td>
        <td th:text="${univBoard.matchDt}"></td>
        <td th:text="${univBoard.representIdx}"></td>
        <td th:text="${univBoard.anonymous == 1 ? '익명' : '닉네임'}"></td>
        <td>
            <!-- 게시글 삭제 요청을 보내는 폼 -->
            <form th:action="@{'/api/v1/univBoard/deletePostAdmin/' + ${univBoard.univBoardId}}" method="post"
                  onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
